<div class="row">
  <div class="ten columns offset-by-two">
    <ul>
      <% @lists.each do |list| %>
      <li><%= link_to list[:name], list[:href] %></li>
      <% end %>
    </ul>
  </div>
</div>
