<div class="row">
  <div class="ten columns offset-by-two">
    <ul>
      <% @lists.each do |list| %>
      <li><%= list[:href] %> - <%= list.content %></li>
      <% end %>
    </ul>
  </div>
</div>
