<div class="row">
  <div class="ten columns offset-by-two">
    <ul>
      <% @list.each do |beer| %>
      <li><%= link_to beer.content, beer[:href] %></li>
      <% end %>
    </ul>
  </div>
</div>
