<div class="row" style="margin-top: 30px">
  <div id="lists" style="float:left" class="three">

  </div>
  <div id="beers" style="float:left" class="four">

  </div>
  <div id="beer" style="float:left" class="four">

  </div>
</div>
