<div class="row">
  <div class="ten columns offset-by-two">
    Name: <%= @beer[:beer_name] %>
    <br />
    Reviewers Rating: <%= @beer[:reviewers_rating] %>
    <br />
    Alström Brothers Rating: <%= @beer[:brothers_rating] %>
  </div>
</div>
